body {
  font-family: "Courier New", Courier, monospace;
  background: url("../images/theater.jpg");
  background-size: contain;
  color: white;
}

.header {
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 5em;
  letter-spacing: 20px;
  padding: 10px;
}

.subtitle {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 15px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 12px 10px 10px -10px rgba(204, 182, 182, 0.75);
  border: 2px solid #fff;
}

.characters {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.fight-zone {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  height: 300px;
}
.fight-zone img {
  height: 250px;
  width: 250px;
}

.game-buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
}

.button button {
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
}

.versus-text {
  text-align: center;
  padding: 0 15px 0 15px;
  font-size: 4em;
}

.fight-text-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  font-size: 1.5em;
}

.health {
  text-align: center;
}

.health-remaining {
  color: red;
}

.hide {
  display: none;
}

button {
  outline: none;
  border: none;
}

button:hover {
  box-shadow: 8px 10px 5px -10px rgba(255, 255, 255, 1);
}
